@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}


body {
    background: linear-gradient(rgb(245, 245, 245) 0%, rgb(99, 148, 237) 0%);
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;  
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.navbar a {
    position: relative;
    text-decoration: none;
    margin: 0 15px;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 3px;
    width: 0;
    background: linear-gradient(90deg, #f2ff00, #00c3ff);
    transition: width 0.4s ease, left 0.4s ease;
    border-radius: 2px;
}

.navbar a:hover {
    color: #3c91e6;
}

.navbar a:hover::after {
    width: 100%;
    left: 0;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.profileimage {
    width: 10px;
    height: 190px;
}

.card {
    max-width: 400px;
    text-align: center;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;

}

.h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;

}

.profileimage {
    width: 190px;
}

.profile h2 {
    color: rgb(255, 255, 255);
    transform: translateY(10px);
}

.profile h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;  
    color: rgb(255, 255, 255);
    transform: translateY(10px);
}

.biodata {
    position: relative;
    top: -5px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 65px;
    font-size: 2.5rem;
    color: rgb(100, 149, 237);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(180, 200, 255) 40%, rgb(100, 149, 237) 100%);
}

.isi {
    text-align: center;
    font-size: 17px;
    color: #ffffff;;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.riwayatpendidikan {
    position: relative;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    background: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgb(180, 200, 255) 40%, rgb(100, 149, 237) 100%);
    padding-bottom: 10px;
    color: rgb(100, 149, 237);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.riwayatpendidikan_a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.TK {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 1,5;
    color: rgb(31, 31, 31);
}

.SD {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 1,5;
    color: rgb(31, 31, 31);
}

.SMP {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 1,5;
    color: rgb(31, 31, 31);
}

.SMA {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 1,5;
    color: rgb(31, 31, 31);
}

.UNIVERSITAS {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    line-height: 1,5;
    color: rgb(31, 31, 31);
}

.modal-dialog {
    color: rgb(0, 0, 0);
    text-shadow: none;
}

.modal-header {
    display: block;
}
  
.modal-backdrop {
    position: fixed !important;
    background-color: rgb(0, 0, 0);
}

body.modal-open {
    padding-right: 0 !important;
    overflow: hidden !important; 
}

.text_project {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.2);
    padding-top: 65px;
}

.card {
    border-radius: 10px;
    margin: 10px;
}

.card img {
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.card-body {
    text-align: center;
}

.card-title-1,
.card-title-2,
.card-title-3,
.card-title-4,
.card-title-5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

.text_contact {
    text-align: center;
    color: rgb(100, 149, 237);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.2);
    margin-bottom: 50px;
}

.contact {
    position: relative;
    margin-top: -10px;
    color: rgb(100, 149, 237);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.isiform {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
}

.icon {
    position: relative;
    bottom: -300px;
    font-size: 30px;
}

.icon a {
    color: white;
    margin: 0 5px; 
}

.icon a:hover {
    color: rgb(0, 0, 0);
}

.watermark {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
}

/* Responsif Hp */
@media (max-width: 480px) {
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(rgb(245, 245, 245) 0%, rgb(99, 148, 237) 0%);
    }
    
    .navbar {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        flex-direction: row;
        gap: 20px;
    }

    .navbar a {
        margin: 5px;
        font-size: 15px;
    }
    
    .navbar a::after {
        bottom: -5px;
    }
    
    .profileimage {
        width: 170px;
        height: auto;
    }

    .profile {
        position: relative;
        top: -30px;
    }

    .h2 {
        position: relative;
        bottom: -10px;
        font-size: 20px;
        font-style: oblique;
    }

    .h5 {
        position: relative;
        bottom: -10px;
        font-size: 15px;
        font-style: italic;
    }

    .text_biodata {
        position: relative;
        bottom: -30px;
    }

    .biodata {
        position: relative;
        top: -5px;
        font-size: 1.2rem;
        text-align: center;
        padding: 15px;
        padding-bottom: 50px;
    }

    .isi {
        position: relative;
        bottom: -30px;
        background-color: rgba(255, 255, 255, 0.847);
        border-radius: 15px;
        margin: 0px;
        padding: 20px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: rgb(91, 91, 91);
        text-shadow: none;
    }

    .riwayatpendidikan {
        background-color: transparent;
        top: -5px;
        position: relative;
    }

    .text_riwayatpendidikan {
        position: relative;
        bottom: -30px;
    }

    .riwayatpendidikan_a {
        position: relative;
        bottom: -20px;
    }

    .modal-dialog {
        color: rgb(0, 0, 0);
        text-shadow: none;
    }

    .modal-backdrop {
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
    }

    body.modal-open {
        padding-right: 0 !important;
        overflow: hidden !important; 
    }

    .card {
        margin: 20px;
        padding: 1px;
        border-radius: 10px;
    }

    .KKK, .IE, .GL, .F, .PHP, .RI, .IA, .HNY {
        border-radius: 10px;
    }

    .card-title-1, .card-title-2, .card-title-3,
    .card-title-4, .card-title-5 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
    }

    .text_contact {
        margin-bottom: 50px;
    }

    .contact {
        position: relative;
        bottom: -5px;
    }

}